{% extends 'base.html.twig' %}

{% block title %}Liste medicaments{% endblock %}

{% block body %}
    <div class="fondgris">
        <div class="container corpformrap">

            <div class="columns">
                <div class="column is-2"></div>
                <div class="column"></div>
                <div class="column is-2"></div>
            </div>

            <div class="columns">
                <div class="column is-2"></div>
                <div class="column">
                    <div class="box">
                        <div class="margform">
                            {% if editMode == true %}
                                <h1 class="title is-3 has-text-dark margform">Modifier un rapport de visite</h1>
                            {% else %}
                                <h1 class="title is-3 has-text-dark margform">Ajouter un rapport de visite</h1>
                            {% endif %}
                            <h1 class="subtitle is-5 has-text-dark margform">----------------------------</h1>
                            {{ form_start(formRapportVisite) }}
                            {{ form_row(formRapportVisite.rap_motif) }}
                            <br>
                            {{ form_row(formRapportVisite.rap_bilan) }}
                            <br>
                            <div>
                            {{ form_label(formRapportVisite.praticien) }}
                            </div>
                            <div class="select">
                            {{ form_widget(formRapportVisite.praticien) }}
                            </div>
                            <div>
                            <button type="submit" class="button is-primary" style="margin-top:4%;">
                                {% if editMode == true %}
                                    Enregistrer les modifications
                                {% else %}
                                    Ajouter le rapport
                                {% endif %}
                            </button>
                            </div>

                            {{ form_end(formRapportVisite) }}
                        </div>
                    </div>
                </div>
                <div class="column is-2"></div>
            </div>

        </div>
    </div>
{% endblock %}