{% extends 'base.html.twig' %}

{% block title %}Formulaire Activite{% endblock %}

{% block body %}
<div class="fondgris">
    <div class="container corp">
        <h1 class="title is-3 has-text-white">{% if ajout == true %}Ajouter{% else %}Modifier{% endif %} un praticien</h1>
        <h1 class="subtitle is-5 has-text-white">----------------------------</h1>

        <div class="box">
            {{ form_start(form) }}
            {{ form_row(form.date) }}
            {{ form_row(form.lieu) }}
            {{ form_row(form.theme) }}
            {{ form_row(form.nom) }}
            <button type="submit" class="button is-primary" style="margin-top:6%;">{% if ajout == true %}Ajouter{% else
                %}Modifier{% endif %}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}