{% extends 'base.html.twig' %}

{% block title %}Liste medicaments{% endblock %}

{% block body %}
<div class="fondgris">
    <div class="container corpformmed">
    
        <h1 class="title is-3 has-text-white">{% if ajout == true %}Ajouter{% else %}Modifier{% endif %} un médicament</h1>
        <h1 class="subtitle is-5 has-text-white">----------------------------</h1>
        
        <div class="box">
            {{ form_start(formMedicament) }}
                {{ form_row(formMedicament.med_depot_legal) }}
                {{ form_row(formMedicament.libelle) }}
                {{ form_row(formMedicament.description) }}
                <button type="submit" class="button is-primary" style="margin-top:6%;">{% if ajout == true %}Ajouter{% else %}Modifier{% endif %}</button>
                {{ form_end(formMedicament) }}
        </div>

    </div>
    </div>


    
{% endblock %}