{% extends 'base.html.twig' %}

{% block title %}Liste des praticiens{% endblock %}

{% block body %}
<div class="fondgris">
    <div class="container corp">


        <div class="columns">
        <div class="column is-1">
        </div>
        <div class="column">
        <h1 class="title is-3 has-text-white">Liste des praticiens</h1>
        <h1 class="subtitle is-5 has-text-white">----------------------------------</h1>
        </div>
        <div class="column is-1">
        </div>
        </div>
                <div class="columns">
            <div class="column is-1">
            </div>
            <div class="column is-3">
                <a href="{{ path("ajouterMedicament") }}" class="button is-primary"><span class="icon"><i class="fas fa-plus"></i></span><span>Ajouter un praticien</span></a>
            </div>
            <div class="column is-3 is-offset-3">
                
                    {{ form_start(searchForm) }}
                    {{ form_row(searchForm.search) }}
                
            </div>
            <div class="column is-1">
                <button type="submit" class="button is-primary"><i class="fas fa-search"></i></button>
                {{ form_end(searchForm) }}
            </div>
            <div class="column is-1">
            </div>
        </div>

        <br><br>




        <div class="columns">
        <div class="column is-1">
        </div>

        <div class="column">
                            {% for praticien in praticiens %}
        <div class="box">
            <article class="media">

                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>N° {{ praticien.id }}</strong>
                            <br>
                            Nom : {{ praticien.PraNom }}
                            <br>
                            Prénom : {{ praticien.PraPrenom }}
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item" href="{{ path("praticien_modif", {"id" : praticien.id }) }}" aria-label="modifier">
                                <span class="icon is-small">
                                    <i class="fas fa-wrench"></i>
                                </span>
                            </a>
                            <a class="level-item" href="{{ path("praticien_suppr", {"id" : praticien.id }) }}" aria-label="suprimer" onclick="return confirm('Êtes-vous sûr ?')">
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
        {% endfor %}
        </div>
        <div class="column is-1">
        </div>
        </div>



    </div>
    </div>
{% endblock %}