<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <!--<link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/lumen/bulmaswatch.min.css">-->
        
        <script defer="defer" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class= "navbar {{app.user.couleur}}" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#"><img src="{{asset("images/gsb.png")}}" width="75" height="28"></a>
                        
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="false"></span>
                        <span aria-hidden="false"></span>
                        <span aria-hidden="false"></span>

                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">

                        <a href="{{ path("home") }}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-home"></i>
                            </span>
                            <span>
                                &nbspAccueil
                            </span>
                        </a>
                            {%  if not  is_granted('ROLE_ADMIN') %}
                            
                            

                        <a href="{{ path("listerapport") }}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-file-signature"></i>
                            </span>
                            <span>
                                &nbspRapports
                            </span>
                        </a>
                            {% endif %}
                             {%  if  is_granted('ROLE_ADMIN') or is_granted('ROLE_DEV') %}
                        <a href="{{ path("medicament") }}"class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-capsules"></i>
                            </span>
                            <span>
                                &nbspMedicaments
                            </span>
                        </a>

                        <a href="{{ path("praticien") }}"class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>
                                &nbspPraticiens
                            </span>
                        </a>{% endif %}
                        {%  if not  is_granted('ROLE_ADMIN') %}
                        <a href="{{ path("actvt_compl") }}"class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-comments"></i>
                            </span>
                            <span>
                                &nbspActivités
                            </span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                {% if app.user is not null %}
                
                    <div class="buttons">
                        <a href="{{ path("logout")}}" class="button is-danger is-rounded">
                            Se déconnecter
                        </a>
                    </div>
                    {% endif %}
                </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                            <span class="icon">
                                <i class="fas fa-paint-brush"></i>
                            </span>
                    </a>

                    <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{{path("changecl",{"id":app.user.id,"couleur":"is-warning"})}}">
                        <span class="icon has-text-warning">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>
                    <a class="navbar-item" href="{{path("changecl",{"id":app.user.id,"couleur":"is-info"})}}">
                        <span class="icon has-text-info">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>
                    <a class="navbar-item" href="{{path("changecl",{"id":app.user.id,"couleur":"is-success"})}}">
                        <span class="icon has-text-success">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>
                    <a class="navbar-item" href="{{path("changecl",{"id":app.user.id,"couleur":" "})}}">
                        <span class="icon has-text-light">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="foot {{app.user.couleur}}">
    <div class="container">
        <a href="#">Haut de page</a>
        <p>Pierron, Hanna, Richard, Sautron. 2018-2019</p>
    </div>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>